*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-width: 220px;
  color: $text-color;
  @include font($source-sans-pro, $normal-size, 400, 1.6, normal);
}

h1 {
  @include font($montserrat, $h1-size, 700, 1.2, normal);
}

h2 {
  @include font($montserrat, $h2-size, 700, 1.3, normal);
}

h3 {
  @include font($montserrat, $h3-size, 700, 1.4, normal);
}

p {
  @include font($open-sans, $normal-size, 400, 1.5, normal);
}

input,
button {
  border: none;
  outline: none;
}

button {
  letter-spacing: 0.005em;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
