.contact {
  &.section {
    margin-top: 4.375rem;

    @include min-width(1024px) {
      margin-top: 6.25rem;
    }
  }

  @include min-width(1200px) {
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-90%);
  }

  &__container {
    background-color: $white-color;

    @include min-width(1024px) {
      padding: 3.75rem 0 4.375rem 0;
    }

    @include min-width(1200px) {
      max-width: 770px;
    }
  }

  &__title {
    @include min-width(1024px) {
      padding-bottom: 2.625rem;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: .25rem;
    margin-bottom: .75rem;

    a {
      color: $text-color;
    }
  }

  &__content {
    @include min-width(1024px) {
      display: grid;
      grid-template-columns: 270px 310px;
      justify-content: center;
      column-gap: 3.375rem;
    }
  }

  &__form {
    margin-top: 2.5rem;
    @include font($montserrat);

    @include min-width(1024px) {
      width: 100%;
      max-width: 310px;
      margin-top: initial;
    }
  }

  &__input {
    display: flex;
    width: 100%;
    border-bottom: 1px solid $muted-color;
    margin-bottom: 1.5rem;
    transition: border-bottom .1s ease;
    background-color: transparent;

    &::placeholder {
      color: $muted-color;
      transition: color .1s ease;
    }

    &:active,
    &:focus {
      border-bottom: 1px solid $ex-text-color;

      &::placeholder {
        color: $ex-text-color;
      }
    }
  }

  &__button {
    display: block;
    margin: 0 auto;
    margin-top: 2.5rem;
    text-transform: uppercase;

    @include min-width(1024px) {
      margin: initial;
      margin-left: auto;
    }
  }

  z-index: 1;
}