.header {
  width: 100%;
  margin-top: 3.3125rem;
  @include max-width(37.4375rem) {
    margin-top: 1rem;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    width: 15.0625rem;
    height: 3.375rem;

    @include max-width(37.4375rem) {
      width: 10.3125rem;
      height: 2.3125rem;
    }
  }
  &__list {
    display: flex;
    gap: 4.375rem;
    @include max-width(63.9375rem) {
      width: 100%;
      gap: 2.5rem;
      position: fixed;
      flex-direction: column;
      top: 10rem;
      align-items: center;
    }
  }

  &__item {
    display: flex;
    gap: 0.875rem;
    align-items: center;

    &::before {
      content: '';
      display: block;
      width: 0.5625rem;
      height: 0.5625rem;
      border-radius: 0.625rem;
      border: 0.0625rem solid $white-color;
      @include max-width(63.9375rem) {
        display: none;
      }
    }
    &:hover::before {
      content: '';
      width: 0.5625rem;
      height: 0.5625rem;
      border-radius: 0.625rem;
      background-color: $white-color;
    }
  }

  &__link {
    text-decoration: none;
    color: $white-color;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @include max-width(63.9375rem) {
      font-size: 1.125rem;
    }
  }
  &__social {
    display: flex;
    gap: 1.25rem;
    z-index: 10;
    @include max-width(63.9375rem) {
      display: none;
      position: fixed;
      right: 0;
      left: 0;
      top: 30rem;
      justify-content: center;

      &.open {
        display: flex;
      }
    }
  }

  &__nav {
    @include max-width(63.9375rem) {
      display: none;
      position: fixed;
      height: 100vh;
      width: 100vw;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 10;
      background: $first-gradient;

      &.open {
        display: flex;
      }
    }
  }

  &__burger {
    display: none;
    z-index: 10;
    @include max-width(63.9375rem) {
      display: block;
      padding-right: 0.25rem;
      cursor: pointer;

      &.active &__item:nth-child(2) {
        opacity: 0;
      }

      &.active &__item:nth-child(1) {
        transform: translateY(0.4063rem) rotate(45deg);
      }

      &.active &__item:nth-child(3) {
        transform: translateY(-0.4063rem) rotate(-45deg);
      }
    }
    &__item {
      display: block;
      width: 1.875rem;
      height: 0.25rem;
      border-radius: 0.25rem;
      margin-bottom: 0.375rem;
      background-color: $white-color;
    }
  }
}
