@mixin min-width($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin max-width($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin font($family: $open-sans, $size: $normal-size, $weight: normal, $line-height: 1.5, $style: normal) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  font-style: $style;
}